<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="OAuthRedirectUrl" value="YOUR_REDIRECT_URL" />
    <add key="OAuthAppId" value="YOUR_APP_ID" />
    <add key="OAuthSecret" value="YOUR_APP_SECRET" />
    <add key="OAuthScope" value="YOUR_OAUTH_SCOPE" />
    
    <add key="ApiUrl" value="https://api.sequencing.com/" />
    <add key="OAuthUrl" value="https://sequencing.com/indexApi.php" />   
    <add key="RecommendationsPath" value="" />
    <add key="APNSFeedbackServiceRunDelay" value="12" />
    <add key="MandrillApi" value="" />
    <add key="EmailCheckDelay" value="6000" />
    <add key="SendTime" value="12:30 PM" />
    <add key="WUKey" value="" />
    <add key="RecommendationsPath" value="" />
    <add key="TwilioAccountSid" value="" />
    <add key="TwilioAuthToken" value="" />
    <add key="FromPhone" value="Weather My Way" />
    <add key="FromPhone2" value="" />
    <add key="NotificationMessage" value="Genetically tailored push notifications successfully enabled for your Weather My Way +RTP app." />
    <add key="ApnsCertificateFileMobile" value="" />
    <add key="ApnsCertificatePasswordMobile" value="" />
    <add key="ApnsCertificateFileTablet" value="" />
    <add key="ApnsCertificatePasswordTablet" value="" />
    <add key="GCMSenderIdMobile" value="" />
    <add key="DeviceAuthTokenMobile" value="" />
    <add key="GCMSenderIdTablet" value="" />
    <add key="DeviceAuthTokenTablet" value="" />
    <add key="ApplicationName" value="1" />
    <add key="FrontendUrl" value="https://sequencing.com" />
   
    <add key="STOutputMaxSize" value="500" />
    <add key="STParameter1Name" value="@CondId" />
    <add key="STParameter2Name" value="@VitaminDId" />
    <add key="STParameter3Name" value="@MelanomaRiskId" />
    <add key="STParameter4Name" value="@CurrentDate" />
    <add key="STParameter5Name" value="@UserId" />
    <add key="STParameter6Name" value="@AppType" />
    <add key="STOutputName" value="@outputGTF" />
    <add key="StorageProcedureName" value="dbo.Randomize" />

    <add key="ForecastManagerLogin" value="" />
    <add key="ForecastManagerPassword" value="" />
    
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Default/Startup" />
      
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<customErrors mode="On" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
    </customErrors>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\\log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM/dd/yyyy HH:mm:ss,fff} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="WeatherAppDbEntities" connectionString="metadata=res://*/Models.WeatherDb.csdl|res://*/Models.WeatherDb.ssdl|res://*/Models.WeatherDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WeatherAppDbNoEntities" connectionString="Data Source=OFFICE-PC;Initial Catalog=WeatherMyWay;Integrated Security=SSPI; " />
  </connectionStrings>
</configuration>
